<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
  <app-toast></app-toast>
    <button class="btn btn-error" (click)="createToaster('Server encountered error', 'Error')">Error</button>
  
    <button class="btn btn-info" (click)="createToaster('Something info...', 'Info')">Info</button>
  
    <button class="btn btn-warn" (click)="createToaster('Warning encountered...', 'Warning')">Warning</button>
  

